body{
    background-color: #f1f1f1;
    font-family: "Roboto", sans-serif;
}




main{
    max-width: 800px;
    margin: 0 auto;  
    /* Para que o conteudo esteja centralizado - centralizar conteudo*/
    padding-inline: 0.625rem;
}

.project-title{
    font-size:2rem; 
    font-weight: 700;
    margin-block: 1rem;
    /* margin-block - somente encima e baixo  */
    /* margin-inline- esquerda e direita somente */
}

.movies-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2rem;
}

.movie-item{
    display: flex;
    gap: 1rem;

    background-color: #ffffff;
    box-shadow: 0 2px 4px rgb(0,0,0,0.3);
    /* box-shadow - caixa com sombra no elemento */
    /* Opacity - transparência de uma cor -  */
    color: #333;
    padding: 1rem;
    /* padding - espaçamento interno */
    /* margin-espaçamento externo */
    border-radius: 8px;
}

.movie-poster{
    width: 30%;
    /* Ocupar 30% da minha largura */
}

.movie-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.movie-add-button{
    align-self: flex-end;

    font-size: 1.1rem;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 0.3215rem;
    box-shadow: 4px 4px gray;
}

.movie-add-button:hover{
    background-color: #216b33;
    color: white;
}

.movie-info{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.movie-title{
    font-size: 1.6rem;
    font-weight: 600;
}

.movie-genre{
    font-size: 1.1rem;
    color: #888;
}

.movie-synopsis{
    line-height: 120%;
    text-align: justify;
}